* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: "Lucida Grande"; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #5f5d60;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
/* --------------------- */
header{
  font-family: Rajdhani,sans-serif;
}
header h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 5px;
  text-shadow: 2px 2px black;
}

header h2 {
  opacity: 0.7;
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-shadow: 2px 2px black;
}
header h3 {
  opacity: 0.9;
  font-size: 20px;
  letter-spacing: 5px;
  margin-bottom: 45px;
  text-shadow: 2px 2px black;
}
.main {
  padding: 180px 0 100px 0;
  background-image: url("https://scx2.b-cdn.net/gfx/news/hires/2018/darkenergy.jpg");
  background-size: cover;
  color: white;
  text-align:center;
  opacity: 0.85;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  /* Ubah nilai border-radius ke 4px */
  border-radius:4px;
}
.btn:hover{
  opacity:1;
}
.j13-a:hover {
  color: rgb(0, 183, 255);
}
.j13-b:hover {
  color: rgb(255, 123, 0);
}
.j13-c:hover {
  color: rgb(102, 255, 0);
}
.j13-d:hover {
  color: rgb(255, 0, 221);
}
.j13-e:hover {
  color: rgb(255, 0, 55);
}

.go {
  background-color: #0093FB;
}

/* --------------------- */
.heading {
  padding-bottom:30px;
  color: #4a4a4a;
  text-align: center;
  padding:10px 0 30px 0;
}

.heading h1 {
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  font-weight: normal;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.teams-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  height: 600px;
  text-align: center;
}

.teams {
  float: left;
  width: 20%;
  font-family: 'Courier New', Courier, monospace;
}

.teams-icon {
  position: relative;
}

.teams-icon img{
  height: 200px;
  transition: .5s;
}

.teams-icon img:hover{
  height: 220px;
  transition: .5s;
}

.teams-name {
  /* position: absolute; */
  /* top: 44%; */
  /* width: 100%; */
  /* color: white; */
  /* color: antiquewhite; */
  color: #2c2c2c;
  margin : 10px 0;
}
.teams p{
  color:#5f5d60;
  margin: 0 auto;
}





.detail-wrapper{
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-image: url("https://i.imgur.com/CYI9uPn.jpg");
  background-size: 100vw;
  background-attachment: fixed;
  /* height: 600px; */
  /* padding: 50px 5px 50px 5px; */
  /* background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%); */
}
.detail{
  width: 100%;
}
.detail-box{
  background-image: linear-gradient(-45deg, #93a5cf 0%, #e4efe9 100%);
  border-radius: 10px;
  padding: 5px 20px;
  margin:20px;
  transition: .3s;
}
.detail-box:hover{
  box-shadow: 1px 1px 10px #7e7e7e;
  transition: .5s;
}

.detail-box h2{
  border-bottom: 1px solid #858585;
  padding-bottom: 20px;
}
.detail-box img{
  width:100px;
  margin-top:75px;
  position: relative;
}
.left{
  float: left;
  margin:20px;
}
.detail-left{ 
  margin: 10px 5px 20px 160px;
  padding-left: 50px;
  padding-bottom: 5px;
  border-left: 1.5px solid #858585;
  position: relative;
}
.right{
  float: right;
  margin:20px;
}
.detail-right{
  text-align: right;
  margin: 10px 160px 20px 5px;
  padding-right: 50px;
  border-right: 1.5px solid #858585;
}
.detail-content{
  margin-top: 10px;
}
.detail-content p, .detail-content h4{
  margin:0;
}

.contact-wrapper{
  align-self: center;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  text-align: center;
}
.contact-form h3{
  font-size: 28px;
  border-bottom: 2px solid #dee7ec;
  padding-bottom:15px;
  margin-bottom:50px;

}
input, textarea{
  border: 1px solid #dee7ec;
  width:50%;
  padding:10px;
  margin:10px 0 20px 0;
  font-size: 18px;
}
.btn-submit{
  background-color: #dee7ec;
  color: #586267;
  width: 30% !important;
}